<header>
  <nav>
    <ul class="menu_ul">
      <li class="menu_li">
        <%= link_to root_path, class:"link_li" do %>
          <span class="iconify" data-icon="bx:menu"></span>
        <% end %>
      </li>
      <li class="menu_li">TRANSACTIONS</li>
      <li class="menu_li"><span class="iconify" data-icon="akar-icons:search"></span></li>
    </ul>
  </nav>
</header>
