@import url('https://fonts.googleapis.com/css?family=proxima-nova:thin,extra-light,light,bold,100,200,300,400,500,600,700,800');

$main: #3778c2;
$second: #5fb523;
$text: #434654;

$proxima-nova: 'proxima-nova', sans-serif;

*,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $proxima-nova;
  color: $text;
}

main{
  padding: 0 1rem;
}

.menu_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem;
  background: $main;
}

.menu_li {
  color: white;
  font-size: 1.2rem;
}

.link_li {
  color: white;
  text-decoration: none;
}
